body {
  font: 14px Ubuntu, sans-serif; }

h1 {
  font: bold 40px Ubuntu, sans-serif;
  display: block;
  width: 100%;
  text-align: center; }

header#topo {
  display: block;
  width: 100%;
  min-height: 50px;
  background: #FFF;
  display: block;
  float: left;
  border-bottom: 1px solid #DDD;
  overflow: hidden; }

header#topo h1 {
  font: bold 30px Mogra, sans-serif;
  margin-bottom: 7px;
  margin-left: 5px;
  margin-top: 7px;
  float: left;
  width: auto; }

.container {
  width: 1200px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  float: none;
  position: relative; }

#open-menu {
  height: 40px;
  width: 40px;
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px; }

#topo nav {
  display: block;
  float: right;
  width: 70%; }

#topo nav ul {
  display: block;
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  float: left; }

#topo nav ul li {
  display: inline-block; }

#topo nav ul li a {
  line-height: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  font-weight: bold;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  #topo nav ul li a:hover {
    background: #045496;
    background: -moz-linear-gradient(-45deg, #045496 0%, #21c3ef 100%);
    background: -webkit-linear-gradient(-45deg, #045496 0%, #21c3ef 100%);
    background: linear-gradient(135deg, #045496 0%, #21c3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045496', endColorstr='#21c3ef',GradientType=1 );
    color: #FFF; }

#home {
  float: left;
  background: url(../img/home.jpg) center bottom no-repeat;
  background-size: cover;
  width: 100%;
  position: relative; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); }

#home strong {
  color: #FFF;
  width: 100%;
  margin-top: 18%;
  font-size: 50px;
  text-align: center;
  display: block;
  position: relative; }

.bt-outline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: transparent;
  border: solid 3px;
  font: bold 20px Ubuntu, sans-serif;
  padding: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none; }

.bt-outline.cor1 {
  border-color: #FFF;
  color: #FFF;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .bt-outline.cor1:hover {
    background: rgba(0, 0, 0, 0.5); }

#sobre {
  float: left;
  padding: 50px 0;
  width: 100%; }

#sobre .foto {
  display: block;
  float: left;
  width: 35%;
  border: solid 10px #FFF;
  border-radius: 100%;
  box-shadow: 0 2px 7px #000; }

#sobre .txt {
  margin-top: 90px;
  font: 20px Ubuntu, sans-serif;
  width: 60%;
  float: right; }

#skills {
  display: block;
  float: left;
  min-height: 300px;
  background: #DDD;
  width: 100%;
  text-align: center;
  padding: 50px 0; }

.box-4 {
  width: 24%;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .box-4:hover .icon-dev {
    transform: scale(1.3); }

.box-4 .icon-dev {
  width: 100%;
  font-size: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

#trabalhos {
  padding: 50px 0;
  text-align: center;
  float: left;
  width: 100%; }

.box-3 img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 60px; }

.box-3 {
  width: 32%;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px 10px;
  background: #DDD;
  margin: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .box-3:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1; }
  .box-3:hover {
    background: #FFF; }

#fotos {
  width: 100%;
  display: block; }

.animation img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.animation {
  width: 20%;
  float: left;
  overflow: hidden; }
  .animation:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
